@{
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<div class="topnav topfixed " layout="row">
    <div flex-lg="100" flex-md="100" flex-sm="20" flex-xs="10">
        <h1 style="margin:15px 100px">FundooApp</h1>
    </div>
</div>

