@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SideNav", "Directive", FormMethod.Post,
                           new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" id="file" class="btn btn-primary" />
            <md-button class="md-raised md-primary" type="submit">Upload</md-button>
        }
    </div>
</body>
</html>
