@model FundooApp.Data.Models.ForgotPasswordViewModel
@{
    Layout = null;
}

<body>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @*@Html.AntiForgeryToken()*@
        <div>
            <div style="background-color:#fb0;height:50px;font-weight:bold;font-size:xx-large;padding-top:8px">
                FORGOT PASSWORD
                <md-button class="md-icon-button" ng-click="cancel()" style="margin-left:120px">
                    <b style="font-size:30px">X</b> <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
            <md-card style="width:500px">
                <div style="padding-left:40px">
                    <md-input-container>
                        <label>Email</label>
                        <input type="text" id="email" name="email" ng-model="email" required style="width:400px" />
                    </md-input-container>

                </div>

                <md-button  type="submit" >
                    OKAY
                </md-button>
            </md-card>
        </div>

    }

</body>